#header {
  display: flex;
  align-items: center;
  margin-bottom: 10%;
}

.section {
  margin-top: 160px;
}

.mobile-section {
  margin-top: 180px;
}

.full-body {
  width: 100%;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  float: left;
  margin-right: 16px;
}

.blurb {
  margin-bottom: 10%;
}

.top-margin {
  margin-top: 20px;
}

.top-margin-small {
  margin-top: 12px;
}

.bottom-margin {
  margin-bottom: 40px;
}

.row {
  display: block;
}

#project1,
#project2,
#project3,
#project4  {
  height: 420px;
  background-color: #EBEFF8;
  transform: scale(1,1);
  /* overflow: hidden; */

  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#project1:hover,
#project2:hover,
#project3:hover,
#project4:hover {
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#project1 {
  background-image: url(../img/live-guide-v1-mobile.png);
  background-size: 240px;
  background-repeat: no-repeat;
  background-position: center 60px;
  background-color: #EBEFF8;
  border-radius: 8px;
}

#project1:hover {
  background-position: center 20px;
  background-color: #8EE7B7;
}

#project2 {
  background-image: url(../img/live-guide-v2-web-small.png);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 12px center;
  background-color: #EBEFF8;
  border-radius: 8px;
}

#project2:hover {
  background-color: #81DBFF;
}


#project3 {
  background-image: url(../img/mobile-player.png);
  background-size: 130%;
  background-repeat: no-repeat;
  background-position: 12px center;
  border-radius: 8px;
}

#project3:hover {
  background-color: #FFAAAA;
}

#project4 {
  background-image: url(../img/details-tablet.png);
  background-size: 260px;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 8px;
}

#project4:hover {
  background-color: #D7B1FE;
}

@media (min-width: 416px) {
  #project2 {
    background-image: url(../img/live-guide-v2-web.png);
    background-size: 85%;
    background-position: center center;
  }

  #project2:hover {
    background-size: 90%;
    background-position: center center;
  }

  #project3 {
    background-size: 85%;
    background-position: center center;
  }
  
  #project3:hover {
    background-size: 90%;
    background-position: center center;
  }

  #project4 {
    background-size: 340px;
    background-position: center 50px;
  }
  
  #project4:hover {
    background-position: center 16px;
  }
}

@media (min-width: 1600px) {
  #project2,
  #project3 {
    background-size: 65%;
    background-position: center center;
  }

  #project2:hover,
  #project3:hover {
    background-size: 70%;
    background-position: center center;
  }
}


.badge {
  position: absolute;
  right: 8px;
  bottom: 8px;
  padding: 4px;
  padding-right: 12px;
  padding-left: 12px;
  font-size: 0.75em;
  font-weight: 400;
  color: #666;
  background-color: #ffffff;
  border-radius: 4px;
}

.caption {
  display: flex;
}

.button,
.button:active,
.button:visited {
  background-color: #222;
  color: #FFFFFF;
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  font-weight: 400;
  font-size: .875em;
  line-height: 1.5em;
  display: inline-block;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.button:hover {
  background-color: #2DC4FF;

  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

@media (min-width: 768px) {
  .full-body {
      width: 75%;
  }
  
  .section {
      margin-top: 200px;
  }
  
  .mobile-section {
      margin-top: 0px;
  }

  .row {
      display: flex;
      margin-right: -20px;
  }
  
  .col {
      flex: 1;
      margin-right: 20px;
  }

}
