html, body {
    height: 100%;
    background: #333333;
	background: rgba(51, 51, 51, 1);
}

h1 {
	font-family : 'Roboto', sans-serif;
	font-weight: 100;
	font-size : 72px;
  	letter-spacing : 14.4px;
  	color : #C1C1C1;
  	color : rgb(193, 193, 193);
  	text-align: center;
}

h2 {
	font-family : 'Roboto', sans-serif;
  	font-size : 32px;
  	font-weight: 100;
    letter-spacing : 3.2px;
  	color : #8E8E8E;
  	color : rgb(142, 142, 142);
  	text-align: center;
}

.container-fluid {
	padding-top: 15%;
	height: 100%;
	width: 100%;
}

.btn {
	font-family : 'Roboto', sans-serif;
	font-weight: 100;
  	font-size : 24px;
  	letter-spacing : 2.4px;
  	color: white;
	border-radius: 0;
  	background : #4D4D4D;
  	background : rgba(77, 77, 77, 1);
  	border-style : solid;
  	border-color : #FFFFFF;
  	border-color : rgba(255, 255, 255, 1);
  	border-width : 1px;
  	box-shadow : 2px 2px 3px rgba(0, 0, 0, 0.5);
  	width: 170px;
  	height: 50px;
}

.btn:hover,
.btn:active {
	background-color: white;
	color: black;
}

.row {
	padding-top: 75px;
}

@media (max-width: 552px) {
	h1 {
		font-size: 60px;
	}
	h2 {
		font-size: 26px;
		letter-spacing: 2px;
	}
	.container-fluid {
		padding-top: 130px;
	}
	.row {
		padding-top: 50px;
	}
}

@media (max-width: 450px) {
	h1 {
		font-size: 48px;
	}
	h2 {
		font-size: 24px;
		letter-spacing: 1.5px;
	}
}

