h2 {
	background: #DBDBDB;
    background: rgba(219, 219, 219, 1);
	color: #333333;
  	color: rgb(51, 51, 51);
}

p, li {
	font-weight: 100;
    color: #DBDBDB;
  	color: rgb(219, 219, 219);
}

.inner_shadow {
	background: #333333;
  	background: rgba(51, 51, 51, 1);
}

@media (min-width: 475px) {
	h2 {
		background: #E7E7E7;
 		background: rgba(231, 231, 231, 1);
 		font-size: 24px;
  		line-height: 36px;
  		letter-spacing: 1.8px;
	}
}

@media (max-width: 475px) {
	h2 {
		background: #E7E7E7;
 		background: rgba(231, 231, 231, 1);
 		font-size: 21px;
  		line-height: 36px;
  		letter-spacing: 1.2px;
	}
}